In [18]:
import os 
import numpy as np
import pandas as pd 

## 設定 dir_data path
dir_data = 'C:/Users/Ding-Ding/github/2nd-ML100Days/homework/data/'

In [19]:
## 用 pd.read_csv 來讀取資料
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: C:/Users/Ding-Ding/github/2nd-ML100Days/homework/data/application_train.csv

In [9]:
## Note: 在 jupyter notebook 中，可以使用 ? 來調查函數的定義
# for example
#?pd.read_csv

In [20]:
## 接下來我們可以用 .head() 這個函數來觀察前 5 row 資料
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
## 資料的 row 數以及 column 數
row_counter, column_counter = app_train.shape
print('Row :',row_counter,'Column:',column_counter)

Row : 307511 Column: 122

In [24]:
## 列出所有欄位
#columns = app_train.columns
#print('欄位', columns)

欄位 Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [25]:
## 截取部分資料
app_train[['SK_ID_CURR','TARGET', 'NAME_CONTRACT_TYPE']][0:20]

    SK_ID_CURR  TARGET NAME_CONTRACT_TYPE
0       100002       1         Cash loans
1       100003       0         Cash loans
2       100004       0    Revolving loans
3       100006       0         Cash loans
4       100007       0         Cash loans
5       100008       0         Cash loans
6       100009       0         Cash loans
7       100010       0         Cash loans
8       100011       0         Cash loans
9       100012       0    Revolving loans
10      100014       0         Cash loans
11      100015       0         Cash loans
12      100016       0         Cash loans
13      100017       0         Cash loans
14      100018       0         Cash loans
15      100019       0         Cash loans
16      100020       0         Cash loans
17      100021       0    Revolving loans
18      100022       0    Revolving loans
19      100023       0         Cash loans

In [27]:
## application_train.csv的資訊
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [29]:
## 所有欄位
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [33]:
## app_train.columns[1]第1個欄位
app_train.columns[1]

'TARGET'

In [34]:
app_train.columns[0:10]

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY'],
      dtype='object')

In [35]:
### 參考 ###
##  cloumn 18~21的10個value
df = []
for i in range(18,22):
    df.append(app_train[app_train.columns[i]][0:10])
res = pd.concat(df, axis = 1, join = 'outer')
print(res)

   DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE
0           -637            -3648.0            -2120          NaN
1          -1188            -1186.0             -291          NaN
2           -225            -4260.0            -2531         26.0
3          -3039            -9833.0            -2437          NaN
4          -3038            -4311.0            -3458          NaN
5          -1588            -4970.0             -477          NaN
6          -3130            -1213.0             -619         17.0
7           -449            -4597.0            -2379          8.0
8         365243            -7427.0            -3514          NaN
9          -2019           -14437.0            -3992          NaN

In [36]:
### 去除遺失值
print(res.dropna())

   DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE
2           -225            -4260.0            -2531         26.0
6          -3130            -1213.0             -619         17.0
7           -449            -4597.0            -2379          8.0

In [37]:
### 遺失值補0
print(res.fillna(0))

   DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE
0           -637            -3648.0            -2120          0.0
1          -1188            -1186.0             -291          0.0
2           -225            -4260.0            -2531         26.0
3          -3039            -9833.0            -2437          0.0
4          -3038            -4311.0            -3458          0.0
5          -1588            -4970.0             -477          0.0
6          -3130            -1213.0             -619         17.0
7           -449            -4597.0            -2379          8.0
8         365243            -7427.0            -3514          0.0
9          -2019           -14437.0            -3992          0.0