# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察均值編碼的效果

# [作業重點]
- 仿造範例, 完成標籤編碼與均值編碼搭配邏輯斯迴歸的預測
- 觀察標籤編碼與均值編碼在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

In [6]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = 'C:/Users/Ding-Ding/github/2nd-ML100Days/homework/data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

### 新類別均值 = (原類別均值 * 類別樣本數) + (全部總平均 * 調整因子) / 類別樣本數 + 調整因子

P.S. 容易Overfitting

# 作業1
[請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次]

In [17]:
print(df_train)

     Pclass                                               Name     Sex   Age  \
0         3                            Braund, Mr. Owen Harris    male  22.0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2         3                             Heikkinen, Miss. Laina  female  26.0
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4         3                           Allen, Mr. William Henry    male  35.0
5         3                                   Moran, Mr. James    male   NaN
6         1                            McCarthy, Mr. Timothy J    male  54.0
7         3                     Palsson, Master. Gosta Leonard    male   2.0
8         3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
9         2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0
10        3                    Sandstrom, Miss. Marguerite Rut  female   4.0
11        1                           Bonnell, Miss. Elizabeth  female  58.0
12        3                     Saundercock, Mr. William Henry    male  20.0
13        3                        Andersson, Mr. Anders Johan    male  39.0
14        3               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0
15        2                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0
16        3                               Rice, Master. Eugene    male   2.0
17        2                       Williams, Mr. Charles Eugene    male   NaN
18        3  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0
19        3                            Masselmani, Mrs. Fatima  female   NaN
20        2                               Fynney, Mr. Joseph J    male  35.0
21        2                              Beesley, Mr. Lawrence    male  34.0
22        3                        McGowan, Miss. Anna "Annie"  female  15.0
23        1                       Sloper, Mr. William Thompson    male  28.0
24        3                      Palsson, Miss. Torborg Danira  female   8.0
25        3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0
26        3                            Emir, Mr. Farred Chehab    male   NaN
27        1                     Fortune, Mr. Charles Alexander    male  19.0
28        3                      O'Dwyer, Miss. Ellen "Nellie"  female   NaN
29        3                                Todoroff, Mr. Lalio    male   NaN
..      ...                                                ...     ...   ...
861       2                        Giles, Mr. Frederick Edward    male  21.0
862       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0
863       3                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN
864       2                             Gill, Mr. John William    male  24.0
865       2                           Bystrom, Mrs. (Karolina)  female  42.0
866       2                       Duran y More, Miss. Asuncion  female  27.0
867       1               Roebling, Mr. Washington Augustus II    male  31.0
868       3                        van Melkebeke, Mr. Philemon    male   NaN
869       3                    Johnson, Master. Harold Theodor    male   4.0
870       3                                  Balkic, Mr. Cerin    male  26.0
871       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0
872       1                           Carlsson, Mr. Frans Olof    male  33.0
873       3                        Vander Cruyssen, Mr. Victor    male  47.0
874       2              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0
875       3                   Najib, Miss. Adele Kiamie "Jane"  female  15.0
876       3                      Gustafsson, Mr. Alfred Ossian    male  20.0
877       3                               Petroff, Mr. Nedelio    male  19.0
878       3                                 Laleff, Mr. Kristo    male   NaN
879       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0
880       2       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0
881       3                                 Markun, Mr. Johann    male  33.0
882       3                       Dahlberg, Miss. Gerda Ulrika  female  22.0
883       2                      Banfield, Mr. Frederick James    male  28.0
884       3                             Sutehall, Mr. Henry Jr    male  25.0
885       3               Rice, Mrs. William (Margaret Norton)  female  39.0
886       2                              Montvila, Rev. Juozas    male  27.0
887       1                       Graham, Miss. Margaret Edith  female  19.0
888       3           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889       1                              Behr, Mr. Karl Howell    male  26.0
890       3                                Dooley, Mr. Patrick    male  32.0

     SibSp  Parch            Ticket      Fare        Cabin Embarked
0        1      0         A/5 21171    7.2500          NaN        S
1        1      0          PC 17599   71.2833          C85        C
2        0      0  STON/O2. 3101282    7.9250          NaN        S
3        1      0            113803   53.1000         C123        S
4        0      0            373450    8.0500          NaN        S
5        0      0            330877    8.4583          NaN        Q
6        0      0             17463   51.8625          E46        S
7        3      1            349909   21.0750          NaN        S
8        0      2            347742   11.1333          NaN        S
9        1      0            237736   30.0708          NaN        C
10       1      1           PP 9549   16.7000           G6        S
11       0      0            113783   26.5500         C103        S
12       0      0         A/5. 2151    8.0500          NaN        S
13       1      5            347082   31.2750          NaN        S
14       0      0            350406    7.8542          NaN        S
15       0      0            248706   16.0000          NaN        S
16       4      1            382652   29.1250          NaN        Q
17       0      0            244373   13.0000          NaN        S
18       1      0            345763   18.0000          NaN        S
19       0      0              2649    7.2250          NaN        C
20       0      0            239865   26.0000          NaN        S
21       0      0            248698   13.0000          D56        S
22       0      0            330923    8.0292          NaN        Q
23       0      0            113788   35.5000           A6        S
24       3      1            349909   21.0750          NaN        S
25       1      5            347077   31.3875          NaN        S
26       0      0              2631    7.2250          NaN        C
27       3      2             19950  263.0000  C23 C25 C27        S
28       0      0            330959    7.8792          NaN        Q
29       0      0            349216    7.8958          NaN        S
..     ...    ...               ...       ...          ...      ...
861      1      0             28134   11.5000          NaN        S
862      0      0             17466   25.9292          D17        S
863      8      2          CA. 2343   69.5500          NaN        S
864      0      0            233866   13.0000          NaN        S
865      0      0            236852   13.0000          NaN        S
866      1      0     SC/PARIS 2149   13.8583          NaN        C
867      0      0          PC 17590   50.4958          A24        S
868      0      0            345777    9.5000          NaN        S
869      1      1            347742   11.1333          NaN        S
870      0      0            349248    7.8958          NaN        S
871      1      1             11751   52.5542          D35        S
872      0      0               695    5.0000  B51 B53 B55        S
873      0      0            345765    9.0000          NaN        S
874      1      0         P/PP 3381   24.0000          NaN        C
875      0      0              2667    7.2250          NaN        C
876      0      0              7534    9.8458          NaN        S
877      0      0            349212    7.8958          NaN        S
878      0      0            349217    7.8958          NaN        S
879      0      1             11767   83.1583          C50        C
880      0      1            230433   26.0000          NaN        S
881      0      0            349257    7.8958          NaN        S
882      0      0              7552   10.5167          NaN        S
883      0      0  C.A./SOTON 34068   10.5000          NaN        S
884      0      0   SOTON/OQ 392076    7.0500          NaN        S
885      0      5            382652   29.1250          NaN        Q
886      0      0            211536   13.0000          NaN        S
887      0      0            112053   30.0000          B42        S
888      1      2        W./C. 6607   23.4500          NaN        S
889      0      0            111369   30.0000         C148        C
890      0      0            370376    7.7500          NaN        Q

[891 rows x 10 columns]

# 作業2
[觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?]

#### 哪一個效果比較好? 
[ 均值編碼 + 邏輯斯迴歸 ]
#### 可能的原因是什麼?
[ 將值平均分配 ]

#### 對照組 : 標籤編碼 + 邏輯斯迴歸

In [8]:
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])

train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.780004837244799
time : 0.020977497100830078 sec

#### 均值編碼 + 邏輯斯迴歸

In [11]:
data = pd.concat([df[:train_num], train_Y], axis = 1 )
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
data = data.drop(['Survived'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 1.0
time : 0.016953468322753906 sec